
body{
  margin:0;
  box-sizing: border-box;
}
.outer-container{
  min-width: 100vw;
  min-height: 100vh;
  background-color:rgb(245, 249, 249);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 50%;
  background:white;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.input-div{
 
  width: fit-content;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  
}
.input-div div:first-of-type{
  align-items: center;
  justify-content: center;
}
.input-div label{
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  &:hover{
    background: rgb(236, 235, 237);
  }
}
.input-div select{
  height: 30px;
  margin-top: 6px;
  border:none;
  

}


.input-div p{
   flex-basis: 80%;
}
.screen{
  background: rgb(217, 204, 228);
  width: 100%;
  /* padding: 20px; */
  margin-block-end: 30px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
}
.inner-container button{
  width: 80%;
  padding: 10px;
  background:rgb(57, 12, 97) ;
  border:2px solid rgb(217, 204, 228);
  color: rgb(217, 204, 228);
  border-radius:8px;
  font-weight: 900;
  &:hover{
    background: rgb(217, 204, 228);
  border:2px solid rgb(57, 12, 97);
  color:rgb(57, 12, 97);
    
  }
}
select option:first-of-type{
  color: gray;
  font-weight: 600;
}
.sizecheckbox{
  width: 20px;
  height: 20px;
  accent-color: blueviolet;
}
